/*========================================================*/
/*========================================================*/
/*=================CONTACT================================*/
/*========================================================*/
/*========================================================*/

.pagecontact{
    .contact{
        margin :0 10%;
    }
    .gmap{
        margin :0 10%;
    }
    display: flex;
}

.wpcf7 textarea
{
 background-color: #fff;
 color: #000;
 width: 400px;
 height: 100px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"]{
    font-size: ;
}
